* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: 'Sacramento', cursive;
  ;
}


// ***** COLOR VARIABLES *****
$white: white;
$black: black;
$opacblack: #1a1e23;
$lightgreen: rgb(57, 187, 102);
$opacbrawn: #bda8a8;
$dark: #171819