@import "common.scss";
/* ***** Body ***** */
body {

  height: 100vh;
  background: $opacblack;
  position: relative;
  color: $white;
}

/* ***** Home ***** */
.home {
  display: flex;
  justify-content: center;
  // align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

  .container {
    position: relative;

    .meInfo {
      position: relative;

      .meImg {
        img {
          border: 10px solid $lightgreen;
          max-width: 100%;
        }
      }

      .meName {
        span {
          font-family: 'Sacramento', cursive;
          font-size: 50px;
          color: $white;
          font-weight: bolder;
          display: flex;
          justify-content: center;
        }
      }

      .meDetail {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(-15deg);

        li {
          transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
          height: 60px;
          align-items: center !important;

          :hover {
            padding: 10px;
          }
        }
      }

      .meSkills {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(15deg);
      }
    }
  }
}

/* ***** About me ***** */
.aboutMe {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  height: auto;
  margin-top: 110px;

  .meText {
    .meInfo {
      font-size: 25px;
    }
  }

  .meTextDetail {
    margin-bottom: 50px;
  }

  .resume button {
    border: none;
    outline: none;
    background-color: $lightgreen;
    padding: 20px;
    margin-bottom: 20px;

    a {
      color: $white;
      text-decoration: none;
      font-weight: 800;
      font-size: 1.2rem;
    }
  }
}

/* ***** MySkills ***** */
.mySkills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .card {
    transition: all 1s;
    margin-bottom: 20px;
  }

  .card:hover {
    transform: scale(1.1);
    box-shadow: -6px 6px 10px 0px $lightgreen;
  }
}

/* ***** Resume ***** */
.resume {
  display: flex;
  // justify-content: space-between;
  gap: 100px;
  margin-top: 50px;
  font-size: 1.2rem;

  .row {
    .col-6 {
      margin-bottom: 50px;
    }

    h4 {
      border-bottom: 2px solid $lightgreen;
      margin-bottom: 25px;
    }

    li {
      a {
        color: $lightgreen;
      }
    }
  }
}

/* ***** Services ***** */
.services {
  .serv-content {
    display: flex;
    justify-content: space-around;

    .card {
      width: calc(33% - 20px);
      background: $dark;
      text-align: center;
      border-radius: 6px;
      padding: 50px 25px;
      cursor: pointer;
      transition: all 0.3s ease;

      .box {
        transition: all 0.3s ease;
      }
    }

    :hover {
      background: $lightgreen;

      .box {
        transform: scale(1.2);
      }

      i {
        color: $white;
      }
    }

    i {
      font-size: 50px;
      color: $lightgreen;
      transition: color 0.3s ease;
    }

    .text {
      font-size: 25px;
      font-weight: 500;
      margin: 10px 0 7px 0;
    }
  }
}

/* ***** Portfolio ***** */
.portfilio {
  margin-top: 60px;

  .portfolioDetail {
    display: flex;
    justify-content: space-around;
  }
}

/* ***** Contact ***** */
.contact {
  border: 1px solid #111;
  color: $white;
  margin-top: 60px;

  h2 {
    padding: 20px 0 0 20px;
  }

  .contact-content {
    display: flex;
    gap: 50px;
    padding: 20px;

    .column {
      width: calc(50% - 30px);
    }

    .text {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .left {
      p {
        text-align: justify;
      }

      .icons {
        margin: 10px 0;
      }
    }

    .row {
      display: flex;
      height: 65px;
      align-items: center;

      .info {
        margin-left: 30px;

        .head {
          font-weight: 500;
        }

        .sub-title {
          color: $opacbrawn;
        }
      }

      i {
        font-size: 25px;
        color: $lightgreen;
      }
    }

    .right {
      ul {
        display: flex;
        gap: 20px;
        padding: 0;
      }
      li {
        list-style: none;
      }
      i {
        color: $lightgreen;
      }
    }
  }
}

/* ***** Finish *****  */
.finish {
  background: $opacblack;
  padding: 15px 23px;
  color: $white;
  text-align: center;

  span {
    a {
      color: $lightgreen;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

/* ***** Responsive Design *****  */
@media screen and (max-width:992px) {
  .aboutMe {
    display: block;
  }

  .resume {
    display: block;
  }

  .services .serv-content {
    display: block;

    .card {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .contact .contact-content {
    display: block;

    .column {
      width: 90%;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      margin: auto;
    }

    .left {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width:768px) {
  .mySkills {
    .card {
      width: 100% !important;
    }
  }

  .resume {
    .resumedetail {
      .row {
        display: block;

        .col-6 {
          width: 100%;
        }
      }
    }
  }

  .portfilio .portfolioDetail {
    display: block;

    .card {
      width: 100% !important;
      margin-bottom: 20px;
    }
  }

  .myBlog .myBlogDetail .card {
    width: 100% !important;
  }
}

@media screen and (max-width:600px) {
  .contact .right form .fields {
    display: block;
  }

  body .meInfo .meDetail {
    transform: rotate(0);
  }

  body .meInfo .meSkills {
    transform: rotate(0);
  }

  body .meInfo .meSkills {
    display: none;
  }

  body .meInfo .meDetail {
    position: relative;
  }


}