* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h2 {
  font-family: 'Sacramento', cursive; }

/* ***** Body ***** */
body {
  height: 100vh;
  background: #1a1e23;
  position: relative;
  color: white; }

/* ***** Home ***** */
.home {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .home .container {
    position: relative; }
    .home .container .meInfo {
      position: relative; }
      .home .container .meInfo .meImg img {
        border: 10px solid #39bb66;
        max-width: 100%; }
      .home .container .meInfo .meName span {
        font-family: 'Sacramento', cursive;
        font-size: 50px;
        color: white;
        font-weight: bolder;
        display: flex;
        justify-content: center; }
      .home .container .meInfo .meDetail {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(-15deg); }
        .home .container .meInfo .meDetail li {
          transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
          height: 60px;
          align-items: center !important; }
          .home .container .meInfo .meDetail li :hover {
            padding: 10px; }
      .home .container .meInfo .meSkills {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(15deg); }

/* ***** About me ***** */
.aboutMe {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  height: auto;
  margin-top: 110px; }
  .aboutMe .meText .meInfo {
    font-size: 25px; }
  .aboutMe .meTextDetail {
    margin-bottom: 50px; }
  .aboutMe .resume button {
    border: none;
    outline: none;
    background-color: #39bb66;
    padding: 20px;
    margin-bottom: 20px; }
    .aboutMe .resume button a {
      color: white;
      text-decoration: none;
      font-weight: 800;
      font-size: 1.2rem; }

/* ***** MySkills ***** */
.mySkills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .mySkills .card {
    transition: all 1s;
    margin-bottom: 20px; }
  .mySkills .card:hover {
    transform: scale(0.9);
    box-shadow: -6px 6px 10px 0px #39bb66; }

/* ***** Resume ***** */
.resume {
  display: flex;
  gap: 100px;
  margin-top: 50px;
  font-size: 1.2rem; }
  .resume .row .col-6 {
    margin-bottom: 50px; }
  .resume .row h4 {
    border-bottom: 2px solid #39bb66;
    margin-bottom: 25px; }
  .resume .row li a {
    color: #39bb66; }

/* ***** Services ***** */
.services .serv-content {
  display: flex;
  justify-content: space-around; }
  .services .serv-content .card {
    width: calc(33% - 20px);
    background: #171819;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease; }
    .services .serv-content .card .box {
      transition: all 0.3s ease; }
  .services .serv-content :hover {
    background: #39bb66; }
    .services .serv-content :hover .box {
      transform: scale(1.2); }
    .services .serv-content :hover i {
      color: white; }
  .services .serv-content i {
    font-size: 50px;
    color: #39bb66;
    transition: color 0.3s ease; }
  .services .serv-content .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0; }

/* ***** Portfolio ***** */
.portfilio {
  margin-top: 60px; }
  .portfilio .portfolioDetail {
    display: flex;
    justify-content: space-around; }

/* ***** Contact ***** */
.contact {
  border: 1px solid #111;
  color: white;
  margin-top: 60px; }
  .contact h2 {
    padding: 20px 0 0 20px; }
  .contact .contact-content {
    display: flex;
    gap: 50px;
    padding: 20px; }
    .contact .contact-content .column {
      width: calc(50% - 30px); }
    .contact .contact-content .text {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px; }
    .contact .contact-content .left p {
      text-align: justify; }
    .contact .contact-content .left .icons {
      margin: 10px 0; }
    .contact .contact-content .row {
      display: flex;
      height: 65px;
      align-items: center; }
      .contact .contact-content .row .info {
        margin-left: 30px; }
        .contact .contact-content .row .info .head {
          font-weight: 500; }
        .contact .contact-content .row .info .sub-title {
          color: #bda8a8; }
      .contact .contact-content .row i {
        font-size: 25px;
        color: #39bb66; }
    .contact .contact-content .right ul {
      display: flex;
      gap: 20px;
      padding: 0; }
    .contact .contact-content .right li {
      list-style: none; }
    .contact .contact-content .right i {
      color: #39bb66; }

/* ***** Finish *****  */
.finish {
  background: #1a1e23;
  padding: 15px 23px;
  color: white;
  text-align: center; }
  .finish span a {
    color: #39bb66;
    text-decoration: none; }
  .finish span a:hover {
    text-decoration: underline; }

/* ***** Responsive Design *****  */
@media screen and (max-width: 992px) {
  .aboutMe {
    display: block; }

  .resume {
    display: block; }

  .services .serv-content {
    display: block; }
    .services .serv-content .card {
      width: 100%;
      margin-bottom: 20px; }

  .contact .contact-content {
    display: block; }
    .contact .contact-content .column {
      width: 90%;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      margin: auto; }
    .contact .contact-content .left {
      margin-bottom: 20px; } }
@media screen and (max-width: 768px) {
  .mySkills .card {
    width: 100% !important; }

  .resume .resumedetail .row {
    display: block; }
    .resume .resumedetail .row .col-6 {
      width: 100%; }

  .portfilio .portfolioDetail {
    display: block; }
    .portfilio .portfolioDetail .card {
      width: 100% !important;
      margin-bottom: 20px; }

  .myBlog .myBlogDetail .card {
    width: 100% !important; } }
@media screen and (max-width: 600px) {
  .contact .right form .fields {
    display: block; }

  .home .container .meInfo .meDetail {
    transform: rotate(0);
    position: relative; }
  .home .container .meInfo .meSkills {
    transform: rotate(0);
    display: none; } }

/*# sourceMappingURL=style.css.map */
